# Text-to-SQL

The `Text2SQL` module is a demonstration of how to use Guardrails to build a text-to-SQL workflow. It implements necessary components to build a text-to-SQL workflow, including:

- [x] Connects to your database
- [x] Given a DB schema, supports SQL validation and error handling
- [x] Finds relevant few shot examples of `text2SQL` history, and uses them to generate a prompt
- [x] Optionally adds modules to guard against unsafe SQL (allowing INSERT, DROP, etc.)
- [x] Supports reasking for all invalid SQL (SQL with syntax errors, SQL targeting non-existent tables, SQL with prohibited keywords, etc.)

!!! info
    The `text2SQL` module is intended to showcase what an end-to-end `text2SQL` workflow looks like with Guardrails. As a developer, you can either use this module as a starting point for your own `text2SQL` workflow or you can use it as a reference for how to use Guardrails to build your own custom `text2SQL` workflow.

## ğŸ±  Why use Guardrails for text-to-SQL?

1. **`bug-free-sql` validators:** Guardrails provides a `bug-free-sql` validator that creates a sandboxed environment to run the generated SQL against your database and check for bugs and errors.
2. **Protection against unsafe SQL:** Guardrails allows developers to constrain the generated SQL to a subset of SQL that is safe to run against your database. For example, you can configure Guardrails to only allow `SELECT` statements, and disallow `INSERT`, `DROP`, etc.
3. **Reasking:** Guardrails allows you to configure reasking logic, so that if the generated SQL is invalid or has bugs, you can reask the LLM to generate a new SQL. Guardrails automatically handles the reasking logic for you.

## ğŸš€ Quickstart

To get started, you'll need the following:
1. Either a connection string to your database or a database schema
2. (Optional) Dictionary of few shot examples of `text2SQL` history

In [1]:
import warnings

warnings.filterwarnings("ignore")

In [2]:
import json

from rich import print

from guardrails.applications.text2sql import Text2Sql

# Set your OPENAI_API_KEY as an environment variable
# import os
# os.environ['OPENAI_API_KEY'] = "YOUR_API_KEY"

### ğŸ“ Setup database connection and examples

In [3]:
EXAMPLES = "examples.json"
SQL_SCHEMA = "schema.sql"
# Alternatively, you can specify a connection string instead of a schema file, like so:
# SQL_CONN = f"sqlite:///{os.getcwd()}department_management.sqlite"

with open(EXAMPLES, "r") as f:
    examples = json.load(f)

print(examples[:2])

[
    {
        'question': 'How many heads of the departments are older than 56 ?',
        'query': 'SELECT count(*) FROM head WHERE age  >  56'
    },
    {
        'question': 'List the name, born state and age of the heads of departments ordered by age.',
        'query': 'SELECT name ,  born_state ,  age FROM head ORDER BY age'
    }
]

### ğŸ’¡ Use Text2SQL Application

- Sets up sandboxed DB based on your SQL schema / connection string
- Finds most relevant examples and inserts them into the prompt
- Checks that the query is valid for the schema

In [4]:
app = Text2Sql(
    "sqlite://",
    schema_file=SQL_SCHEMA,
    examples=examples,
)

# Call the application with a natural language question.
print(app("What is the name of the department with the highest number of employees?"))

SELECT name FROM department ORDER BY Num_Employees DESC LIMIT 1

### â Demonstration on an incorrect output

Below is a demonstration of how Guardrails' `Text2SQL` module handles an incorrect output from the LLM. The LLM generates an SQL that has a syntax error, and Guardrails catches this error and reasks the LLM to generate a new SQL.

The output is incorrect because it refers to a table (`departments`) that does not exist in the database. Guardrails catches this error and reasks the LLM to generate a new SQL.

In [10]:
incorrect_llm_output = '{"generated_sql": "SELECT name FROM departments ORDER BY num_employees DESC LIMIT 1"}'

print(f"Incorrect output:\n\n{incorrect_llm_output}")

Incorrect output:

{"generated_sql": "SELECT name FROM departments ORDER BY num_employees DESC LIMIT 1"}

Below, we can see the final corrected output, as well as the underlying logs to see what happened step by step:

In [11]:
from guardrails.llm_providers import openai_wrapper

output = app.guard.parse(
    llm_output=incorrect_llm_output,
    llm_api=openai_wrapper,
    engine="text-davinci-003",
    prompt_params={
        "nl_instruction": "What is the name of the department with the highest number of employees?",
        "db_info": str(app.sql_schema),
        "examples": "",
    },
    max_tokens=512,
)["generated_sql"]

print(f"Correct output:\n\n{output}")

Correct output:

SELECT Name FROM department ORDER BY Num_Employees DESC LIMIT 1

In [12]:
app.guard.history.last.tree

Logs
â”œâ”€â”€ â•­â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€ Step 0 â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â•®
â”‚   â”‚ â•­â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€ Prompt â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â•® â”‚
â”‚   â”‚ â”‚ No prompt                                                                                               â”‚ â”‚
â”‚   â”‚ â•°â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â•¯ â”‚
â”‚   â”‚ â•­â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€ Raw LLM Output â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â•® â”‚
â”‚   â”‚ â”‚ {"generated_sql": "SELECT name FROM departments ORDER BY num_employees DESC LIMIT 1"}                   â”‚ â”‚
â”‚   â”‚ â•°â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â•¯ â”‚
â”‚   â”‚ â•­â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€ Validated Output â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â•® â”‚
â”‚   â”‚ â”‚ {                                                                                                       â”‚ â”‚
â”‚   â”‚ â”‚     'generated_sql': ReAsk(                                                                             â”‚ â”‚
â”‚   â”‚ â”‚         incorrect_value='SELECT name FROM departments ORDER BY num_employees DESC LIMIT 1',             â”‚ â”‚
â”‚   â”‚ â”‚         error_message='(sqlite3.OperationalError) no such table: departments\n[SQL: SELECT name FROM    â”‚ â”‚
â”‚   â”‚ â”‚ departments ORDER BY num_employees DESC LIMIT 1]\n(Background on this error at:                         â”‚ â”‚
â”‚   â”‚ â”‚ https://sqlalche.me/e/20/e3q8)',                                                                        â”‚ â”‚
â”‚   â”‚ â”‚         fix_value=None,                                                                                 â”‚ â”‚
â”‚   â”‚ â”‚         path=['generated_sql']                                                                          â”‚ â”‚
â”‚   â”‚ â”‚     )                                                                                                   â”‚ â”‚
â”‚   â”‚ â”‚ }                                                                                                       â”‚ â”‚
â”‚   â”‚ â•°â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â•¯ â”‚
â”‚   â•°â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â•¯
â””â”€â”€ â•­â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€ Step 1 â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â•®
    â”‚ â•­â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€ Prompt â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â•® â”‚
    â”‚ â”‚                                                                                                         â”‚ â”‚
    â”‚ â”‚ You are a data scientist whose job is to write SQL queries.                                             â”‚ â”‚
    â”‚ â”‚                                                                                                         â”‚ â”‚
    â”‚ â”‚                                                                                                         â”‚ â”‚
    â”‚ â”‚ Given below is XML that describes the information to extract from this document and the tags to extract â”‚ â”‚
    â”‚ â”‚ it into.                                                                                                â”‚ â”‚
    â”‚ â”‚                                                                                                         â”‚ â”‚
    â”‚ â”‚ <output>                                                                                                â”‚ â”‚
    â”‚ â”‚     <sql name="generated_sql" description="Generate SQL for the given natural language instruction."    â”‚ â”‚
    â”‚ â”‚ format="bug-free-sql"/>                                                                                 â”‚ â”‚
    â”‚ â”‚ </output>                                                                                               â”‚ â”‚
    â”‚ â”‚                                                                                                         â”‚ â”‚
    â”‚ â”‚                                                                                                         â”‚ â”‚
    â”‚ â”‚ ONLY return a valid JSON object (no other text is necessary), where the key of the field in JSON is the â”‚ â”‚
    â”‚ â”‚ `name` attribute of the corresponding XML, and the value is of the type specified by the corresponding  â”‚ â”‚
    â”‚ â”‚ XML's tag. The JSON MUST conform to the XML format, including any types and format requests e.g.        â”‚ â”‚
    â”‚ â”‚ requests for lists, objects and specific types. Be correct and concise.                                 â”‚ â”‚
    â”‚ â”‚                                                                                                         â”‚ â”‚
    â”‚ â”‚ Here are examples of simple (XML, JSON) pairs that show the expected behavior:                          â”‚ â”‚
    â”‚ â”‚ - `<string name='foo' format='two-words lower-case' />` => `{'foo': 'example one'}`                     â”‚ â”‚
    â”‚ â”‚ - `<list name='bar'><string format='upper-case' /></list>` => `{"bar": ['STRING ONE', 'STRING TWO',     â”‚ â”‚
    â”‚ â”‚ etc.]}`                                                                                                 â”‚ â”‚
    â”‚ â”‚ - `<object name='baz'><string name="foo" format="capitalize two-words" /><integer name="index"          â”‚ â”‚
    â”‚ â”‚ format="1-indexed" /></object>` => `{'baz': {'foo': 'Some String', 'index': 1}}`                        â”‚ â”‚
    â”‚ â”‚                                                                                                         â”‚ â”‚
    â”‚ â”‚                                                                                                         â”‚ â”‚
    â”‚ â”‚ Here's schema about the database that you can use to generate the SQL query.                            â”‚ â”‚
    â”‚ â”‚ Try to avoid using joins if the data can be retrieved from the same table.                              â”‚ â”‚
    â”‚ â”‚                                                                                                         â”‚ â”‚
    â”‚ â”‚ Table: department                                                                                       â”‚ â”‚
    â”‚ â”‚     Column: Department_ID                                                                               â”‚ â”‚
    â”‚ â”‚         type: INTEGER                                                                                   â”‚ â”‚
    â”‚ â”‚     Column: Name                                                                                        â”‚ â”‚
    â”‚ â”‚         type: TEXT                                                                                      â”‚ â”‚
    â”‚ â”‚     Column: Creation                                                                                    â”‚ â”‚
    â”‚ â”‚         type: TEXT                                                                                      â”‚ â”‚
    â”‚ â”‚     Column: Ranking                                                                                     â”‚ â”‚
    â”‚ â”‚         type: INTEGER                                                                                   â”‚ â”‚
    â”‚ â”‚     Column: Budget_in_Billions                                                                          â”‚ â”‚
    â”‚ â”‚         type: REAL                                                                                      â”‚ â”‚
    â”‚ â”‚     Column: Num_Employees                                                                               â”‚ â”‚
    â”‚ â”‚         type: REAL                                                                                      â”‚ â”‚
    â”‚ â”‚ Table: head                                                                                             â”‚ â”‚
    â”‚ â”‚     Column: head_ID                                                                                     â”‚ â”‚
    â”‚ â”‚         type: INTEGER                                                                                   â”‚ â”‚
    â”‚ â”‚     Column: name                                                                                        â”‚ â”‚
    â”‚ â”‚         type: TEXT                                                                                      â”‚ â”‚
    â”‚ â”‚     Column: born_state                                                                                  â”‚ â”‚
    â”‚ â”‚         type: TEXT                                                                                      â”‚ â”‚
    â”‚ â”‚     Column: age                                                                                         â”‚ â”‚
    â”‚ â”‚         type: REAL                                                                                      â”‚ â”‚
    â”‚ â”‚ Table: management                                                                                       â”‚ â”‚
    â”‚ â”‚     Column: department_ID                                                                               â”‚ â”‚
    â”‚ â”‚         type: INTEGER                                                                                   â”‚ â”‚
    â”‚ â”‚         foreign_key: {'table': 'department', 'column': 'Department_ID'}                                 â”‚ â”‚
    â”‚ â”‚     Column: head_ID                                                                                     â”‚ â”‚
    â”‚ â”‚         type: INTEGER                                                                                   â”‚ â”‚
    â”‚ â”‚         foreign_key: {'table': 'head', 'column': 'head_ID'}                                             â”‚ â”‚
    â”‚ â”‚     Column: temporary_acting                                                                            â”‚ â”‚
    â”‚ â”‚         type: TEXT                                                                                      â”‚ â”‚
    â”‚ â”‚                                                                                                         â”‚ â”‚
    â”‚ â”‚ I will give you a list of examples.                                                                     â”‚ â”‚
    â”‚ â”‚                                                                                                         â”‚ â”‚
    â”‚ â”‚                                                                                                         â”‚ â”‚
    â”‚ â”‚                                                                                                         â”‚ â”‚
    â”‚ â”‚ I want to create a query for the following instruction:                                                 â”‚ â”‚
    â”‚ â”‚                                                                                                         â”‚ â”‚
    â”‚ â”‚ What is the name of the department with the highest number of employees?                                â”‚ â”‚
    â”‚ â”‚                                                                                                         â”‚ â”‚
    â”‚ â”‚ For this instruction, I was given the following JSON, which has some incorrect values.                  â”‚ â”‚
    â”‚ â”‚                                                                                                         â”‚ â”‚
    â”‚ â”‚ {                                                                                                       â”‚ â”‚
    â”‚ â”‚   "generated_sql": {                                                                                    â”‚ â”‚
    â”‚ â”‚     "incorrect_value": "SELECT name FROM departments ORDER BY num_employees DESC LIMIT 1",              â”‚ â”‚
    â”‚ â”‚     "error_message": "(sqlite3.OperationalError) no such table: departments\n[SQL: SELECT name FROM     â”‚ â”‚
    â”‚ â”‚ departments ORDER BY num_employees DESC LIMIT 1]\n(Background on this error at:                         â”‚ â”‚
    â”‚ â”‚ https://sqlalche.me/e/20/e3q8)"                                                                         â”‚ â”‚
    â”‚ â”‚   }                                                                                                     â”‚ â”‚
    â”‚ â”‚ }                                                                                                       â”‚ â”‚
    â”‚ â”‚                                                                                                         â”‚ â”‚
    â”‚ â”‚ Help me correct the incorrect values based on the given error messages.                                 â”‚ â”‚
    â”‚ â”‚                                                                                                         â”‚ â”‚
    â”‚ â•°â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â•¯ â”‚
    â”‚ â•­â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€ Raw LLM Output â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â•® â”‚
    â”‚ â”‚ {"generated_sql": "SELECT Name FROM department ORDER BY Num_Employees DESC LIMIT 1"}                    â”‚ â”‚
    â”‚ â•°â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â•¯ â”‚
    â”‚ â•­â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€ Validated Output â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â•® â”‚
    â”‚ â”‚ {                                                                                                       â”‚ â”‚
    â”‚ â”‚     'generated_sql': 'SELECT Name FROM department ORDER BY Num_Employees DESC LIMIT 1'                  â”‚ â”‚
    â”‚ â”‚ }                                                                                                       â”‚ â”‚
    â”‚ â•°â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â•¯ â”‚
    â•°â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â•¯

## âš’ï¸ Customizing the `Text2SQL` module

You can customize the `Text2SQL` module to fit your needs. Here are some examples of how you can customize the module:

1. **Prompt:** You can customize the `text2SQL` prompt by passing in a custom `RAIL` spec to the module in the `rail_spec` argument.
2. **Few shot examples:** You can customize how the few shot examples are stored, retrieved, and inserted into the prompt by updating the arguments `vector_db`, `document_store`, `num_relevant_examples` and `example_formatter`.
3. **Reask prompt:** You can customize the reask prompt by updating the `reask_prompt` argument.
4. **LLM API:** You can customize the LLM API by updating the `llm_api` argument. To pass in specific kwargs to the LLM API, you can update the `llm_api_kwargs` argument (e.g. `llm_api_kwargs={'max_length': 100}`).